.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(210, 213, 205);
  padding: 20px;
  border-radius: 15px;
  position: relative;
  margin-bottom: 30px;
  background: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
  background-color: #fbab7e;
}

.card__bookmark {
  all: unset;
  background-image: url(/img/bookmarked.svg);
  background-size: cover;
  height: 100px;
  width: 100px;
  position: absolute;
  top: -30px;
  right: -10px;
  padding: 0;
  opacity: 0.5;
  cursor: pointer;
}

.card__hidden {
  display: none;
}

.card__bookmark--unchecked {
  all: unset;
  background-image: url(/img/bookmarked.svg);
  background-size: cover;
  height: 100px;
  width: 100px;
  position: absolute;
  top: -30px;
  right: -10px;
  padding: 0;
  cursor: pointer;
  opacity: 1;
}

.bookmark__darkmode {
  filter: invert(1);
}

.card__question {
  align-self: flex-start;
  margin-bottom: 10px;
  text-decoration: underline;
}

.card__button {
  margin-bottom: 15px;
  margin-top: 20px;
  height: 25px;
  width: 130px;
  text-align: center;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 20px;
  cursor: pointer;
  font-size: 15px;
}

.card__button:hover {
  background-color: rgb(255, 255, 0);
}

.card__button--dark {
  background-color: white;
}
.card__darkmode {
  background-color: rgba(255, 255, 255, 0.105);
  color: white;
  border: 1px solid white;
  background: none;
}

.question__ptag {
  margin-top: 15px;
}
