.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(210, 213, 205);
  padding: 20px;
  border-radius: 8px;
  position: relative;
  background-color: rgba(95, 158, 160, 0.235);
}

.card__bookmark {
  position: absolute;
  top: -12px;
  right: 25px;
  padding: 0;

  height: 60px;

  border-color: black;
  border-style: solid 1px;
  border-width: 20px;

  border-bottom-color: transparent;
  border-radius: 5px;
  background-color: transparent;
}

.card__bookmark__checked {
  position: absolute;
  top: -12px;
  right: 25px;
  padding: 0;

  height: 60px;

  border-color: rgb(243, 26, 26);
  border-style: solid 1px;
  border-width: 20px;

  border-bottom-color: transparent;
  border-radius: 5px;
  background-color: transparent;
}

.card__question {
  align-self: flex-start;
  margin-bottom: 10px;
  text-decoration: underline;
}

.card__button {
  height: 25px;
  width: 120px;
  text-align: center;
}

.card__answer--hidden {
  display: none;
}
