main {
  overflow: auto;
  padding: 30px;
  display: grid;
  grid-gap: 24px;
  margin: 10px;
  font-family: 'Roboto', sans-serif;
}
.main__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(210, 213, 205);
  padding: 20px;
  border-radius: 8px;
  position: relative;
  background-color: rgba(95, 158, 160, 0.235);
}
