.tags {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 60px;
}

.tags__item {
  padding: 8px;
  border: 1px solid navy;
  border-radius: 8px;
  background: white;
}

.tags__item--dark {
  background-color: white;
  color: black;
}
